<nav id="love_nav" class="mb-4 navbar navbar-expand-lg navbar-light">
    <div class="col-md navbar-brand container">
        <a id="nav_titre"  href="{{ path('main_home') }}"><h4 class="mr-4 mt-1"><i class="fas fa-heartbeat"></i>LoveNest</h4></a>
        {% if app.user %}
            <p id="love_hello">Hello {{ app.user.username }} !</p>
        {% endif %}
    </div>
    <div class="justify-content-end">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    </div>
    <div class="col collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav">
            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
            </li>
            {% endif %}

        </ul>
    </div>
</nav>