{% extends 'base.html.twig' %}

{% block title %}Détail{% endblock %}

{% block body %}

    <div class="container mt-4 ">
        <div class="row">
            <div class="col-4">
                {% for photo in app.user.profil.photoProfils %}
                    <img class="mb-4" alt="photo" src="../profile/img/{{ photo.nomFichier }}">
                {% endfor %}
            </div>

            <div class="col-4">
                <h1>Mon profil</h1>
                    <p>Pseudo : {{ app.user.pseudo }}</p>
                    <p>Date de naissance : {{ profil.dateNaissance|date('d/m/Y') }}</p>
                    <p>Sexe : {{ profil.sexe }}</p>
                    <p>Ville : {{ profil.ville }}</p>
                    <p>Code Postal : {{ profil.codePostal }}</p>
                    <a href="{{ path('profil_modifier_profil', {id:app.user.id}) }}" class="btn btn-success">Modifier mon profil</a>
            </div>


            <div class="col-4">

                {% if(app.user.profil.criteres) %}

                <h1>Mes critères</h1>
                    <div>Sexe recherché : {{ profil.criteres.sexesRecherches }}</div>
                    <div>Age recherché : {{ profil.criteres.ageRecherches }}</div>
                    <div>Département recherché : {{ profil.criteres.departementsRecherches }}</div>
                    <a href="{{ path('profil_modifier_critere', {id:app.user.profil.id}) }}" class="btn btn-success">Modifier mes critères</a>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
